############################
# Maven
############################
target/
!.mvn/wrapper/maven-wrapper.jar

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr
out/

############################
# Logs
############################
*.log

############################
# Linux
############################
*~
.fuse_hidden*
.directory

############################
# Environment variables
############################
.env
